<section class="myfooter p-4 pt-5 pb-3">
  <div class="container">
    <div class="row">

      <!-- Newsletter -->
      <div class="col-md-4 mb-4">
        <h5 class="text-white mb-3">Trendify</h5>
        <p class="text-white fw-semibold">
          Join our newsletter to stay up to date on features and releases.
        </p>

        <form class="d-flex mb-2">
          <input
            type="email"
            class="form-control me-2"
            placeholder="Enter your email"
          >
          <button
            class="btn text-white"
            style="background-color:#a47b52;"
          >
            Subscribe
          </button>
        </form>

        <small class="text-white">
          By subscribing you agree to our Privacy Policy and provide
          consent to receive updates from our company.
        </small>
      </div>

      <!-- About Us -->
      <div class="col-md-2 mb-4">
        <h6 class="text-white mb-3">About Us</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">FAQ</a></li>
          <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
          <li><a href="#" class="text-white text-decoration-none">Returns</a></li>
          <li><a href="#" class="text-white text-decoration-none">Blog</a></li>
          <li><a href="#" class="text-white text-decoration-none">Shipping</a></li>
        </ul>
      </div>

      <!-- Customer Support -->
      <div class="col-md-3 mb-4">
        <h6 class="text-white mb-3">Customer Support</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Affiliates</a></li>
          <li><a href="#" class="text-white text-decoration-none">Apply Pay Payments</a></li>
          <li><a href="#" class="text-white text-decoration-none">Returns</a></li>
          <li><a href="#" class="text-white text-decoration-none">Returns Policy</a></li>
        </ul>
      </div>

      <!-- Follow Us -->
      <div class="col-md-3 mb-4">
        <h6 class="text-white mb-3">Follow Us</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white text-decoration-none">
              <i class="fab fa-facebook-f me-2"></i> Facebook
            </a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">
              <i class="fab fa-instagram me-2"></i> Instagram
            </a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">
              <i class="fab fa-twitter me-2"></i> Twitter
            </a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">
              <i class="fab fa-linkedin-in me-2"></i> LinkedIn
            </a>
          </li>
        </ul>
      </div>

    </div>

    <!-- Bottom -->
    <div
      class="border-top border-secondary pt-3 mt-3
             d-flex flex-column flex-md-row
             justify-content-between text-white small"
    >
      <p class="mb-2 mb-md-0">
        © 2025 Trendify. All right reserved
      </p>

      <div>
        <a href="#" class="text-white text-decoration-none me-3">Privacy Policy</a>
        <a href="#" class="text-white text-decoration-none me-3">Terms of Services</a>
        <a href="#" class="text-white text-decoration-none">Cookies Setting</a>
      </div>
    </div>
  </div>
</section>
