

<!-- blog section -->
<section class="py-5">
  <div class="container">
      <!-- breadcrumb -->
    <p class="text-muted fw-semibold mb-4">
      <span class="about-color blog-color fw-semibold">Home</span> > Blog
    </p>

    <!-- Title -->
    <h2 class="text-center fw-bold mb-3">Blog</h2>
    <p class="text-center mt-2 prg">
      Make your best moments more stylish with our latest designs of clothing.
    </p>

    <!-- Cards -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
      <div class="col">
        <div class="card shadow-sm border-0 rounded-4 h-100">
          <img class="card-img-top rounded-top-4" src="/lastImgFolder/blog-1.webp" alt="ourbolgimg" />
          <div class="card-body">
            <div class="d-flex justify-content-between text-muted small mb-2">
              <h6 class="mb-0">Fashion</h6>
              <span>{{ date | date }}</span>
            </div>
            <h5 class="card-title fw-bold">The perfect Shopify theme</h5>
            <p class="card-text fs-6 text-muted">
              Shopify is the second most popular eCommerce store builder in the world.
              You can use Shopify in...
            </p>
          </div>
        </div>
      </div>






      <div class="col">
        <div class="card shadow-sm border-0 rounded-4 h-100">
          <img class="card-img-top rounded-top-4" src="/lastImgFolder/blog-2.webp" alt="ourbolgimg" />
          <div class="card-body">
            <div class="d-flex justify-content-between text-muted small mb-2">
              <h6 class="mb-0">Fashion</h6>
              <span>{{ date | date }}</span>
            </div>
            <h5 class="card-title fw-bold">The perfect Shopify theme</h5>
            <p class="card-text fs-6 text-muted">
              Shopify is the second most popular eCommerce store builder in the world.
              You can use Shopify in...
            </p>
          </div>
        </div>
      </div>





      <div class="col">
        <div class="card shadow-sm border-0 rounded-4 h-100">
          <img class="card-img-top rounded-top-4" src="/lastImgFolder/blog-3.webp" alt="ourbolgimg" />
          <div class="card-body">
            <div class="d-flex justify-content-between text-muted small mb-2">
              <h6 class="mb-0">Fashion</h6>
              <span>{{ date | date }}</span>
            </div>
            <h5 class="card-title fw-bold">The perfect Shopify theme</h5>
            <p class="card-text fs-6 text-muted">
              Shopify is the second most popular eCommerce store builder in the world.
              You can use Shopify in...
            </p>
          </div>
        </div>
      </div>






      <div class="col">
        <div class="card shadow-sm border-0 rounded-4 h-100">
          <img class="card-img-top rounded-top-4" src="/lastImgFolder/blog-4.webp" alt="ourbolgimg" />
          <div class="card-body">
            <div class="d-flex justify-content-between text-muted small mb-2">
              <h6 class="mb-0">Fashion</h6>
              <span>{{ date | date }}</span>
            </div>
            <h5 class="card-title fw-bold">The perfect Shopify theme</h5>
            <p class="card-text fs-6 text-muted">
              Shopify is the second most popular eCommerce store builder in the world.
              You can use Shopify in...
            </p>
          </div>
        </div>
      </div>







      <div class="col">
        <div class="card shadow-sm border-0 rounded-4 h-100">
          <img class="card-img-top rounded-top-4" src="/lastImgFolder/blog-5.webp" alt="ourbolgimg" />
          <div class="card-body">
            <div class="d-flex justify-content-between text-muted small mb-2">
              <h6 class="mb-0">Fashion</h6>
              <span>{{ date | date }}</span>
            </div>
            <h5 class="card-title fw-bold">The perfect Shopify theme</h5>
            <p class="card-text fs-6 text-muted">
              Shopify is the second most popular eCommerce store builder in the world.
              You can use Shopify in...
            </p>
          </div>
        </div>
      </div>






      <div class="col">
        <div class="card shadow-sm border-0 rounded-4 h-100">
          <img class="card-img-top rounded-top-4" src="/lastImgFolder/blog-6.webp" alt="ourbolgimg" />
          <div class="card-body">
            <div class="d-flex justify-content-between text-muted small mb-2">
              <h6 class="mb-0">Fashion</h6>
              <span>{{ date | date }}</span>
            </div>
            <h5 class="card-title fw-bold">The perfect Shopify theme</h5>
            <p class="card-text fs-6 text-muted">
              Shopify is the second most popular eCommerce store builder in the world.
              You can use Shopify in...
            </p>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>
